:root {
  --black-color: #080808;
  --white-color: #fff;
  --red-color: #c6371a;
  --light-grey-color: #f8f8f8;
  --grey-color: #e5e8e2;
  --dark-grey-color: #bebec1;
  --green-color: #0fd769;
  --admin-blue-color: #1976d2;
  --admin-dark-blue-color: #104881;
}
