$green: green;
$light-green: #a6edbf;
$lighter-green: rgb(229 255 229);
$lavender: lavender;
$black: #262626;
$white: white;
$light-gray: #f5f7f9;
$lighter-gray: #e4e4e4;
$gray: #d1cece;
$dark-gray: #b2b2b4;
$yellow: #fdd485;
$weekly: #ffef62;
$biweekly: #d1cece;
$otj: #ffb370;
$public: #50ff59;
$purple: #bfb0fe;
$light-purple: #e9ebfa;
$red: #f75151;
$pink: #f7abd9;
$light-pink: #ffe6e6;
$green: rgb(41, 171, 41);
$light-blue: rgb(58, 58, 223);
