thead {
  background: rgb(67, 56, 202, 0.8);

  th {
    color: #fff !important;
  }
}

table button {
  min-width: auto !important;
}

.hiddenElement {
  display: none;
}

.pagination.navigation {
  text-align: center;
}

@media (max-width: 1025px) {
  .hiddenElement {
    display: inline;
    font-weight: bold;
  }

  thead.MuiTableHead-root {
    display: none;
  }

  tr.MuiTableRow-root {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    position: relative;
    border-bottom: 1px solid #cecece;

    &:last-child {
      border-bottom: 0;
    }

    td {
      gap: 12px;
      border-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 6px;
      padding-bottom: 6px;
      text-align: right;

      &:last-child {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 0;

        button {
          padding: 0;
          min-width: auto;
        }
      }
    }
  }
}
